* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body { font-size: 18px; position: relative; }
body.preload::before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  background: rgba(76 78 78 / 89%);
  z-index: 999;
}
body.preload::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0px;
  left:0px;
  margin: 0 auto;
  top: 30%;
  background: transparent url(./images/loading.gif) no-repeat;
  background-size:cover;
  z-index: 999;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  font-family: 'Poppins', sans-serif;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 55px auto 100px;
  width: 85%;
  font-weight: 700;
  background: #ffffff;
  position: relative;
}
@media screen and (max-width: 803px) {
  .header { margin: 20px auto 30px; }
}
.header .burger { display: none; }
@media screen and (max-width: 803px) {
  .header .burger { display: block; color:hsl(0, 0%, 75%); }
}
.header .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: 100%;
}
@media screen and (max-width: 803px) {
  .header .logo { width: 20%; }
}
.header .logo img { width: 100%; }
.header .menu {
  display: flex;
  justify-content: space-between;
  width: 88%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 803px) {
  .header .menu { display: none; }
}
.header .menu .items {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}
.header .menu .items li { margin: 0px 20px; list-style: none; }
.header .menu .items li a{ color:hsl(0, 0%, 75%); font-weight: 700;}
.header .menu .items li a:hover { color: hsl(255, 11%, 22%); font-weight: bold; }
.header .menu .login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.login li { margin: 0px 20px; list-style: none; }
.login li a{ color:hsl(0, 0%, 75%); font-weight: 700;}
.login li a:hover { color: hsl(255, 11%, 22%); font-weight: bold; }
#registro {
  padding: 10px 30px;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 20px;
  color:#ffffff !important;
  cursor: pointer;
}
#registro:hover { opacity: 0.6; }
.header .menu.active {
  display: block;
  padding: 20px;
  top: 150%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  z-index: 10;
  background-color: hsl(257, 27%, 26%);
  position: absolute;
}
.header .menu.active .items { display: block; border-bottom: 1px solid hsl(0, 0%, 75%); }
.header .menu.active .login { display: block; }
.header .menu.active .items li a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  font-weight: 500;
  color: #fff;
}
.header .menu.active .login li a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  font-weight: 500;
  color: #fff;
}
.header .menu.active li #registro {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  padding: 10px 30px;
}
.datos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 150px auto;
  width: 92%;
  position: relative;
}
@media screen and (max-width: 803px) {
  .datos {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 0 150px;
    align-items: center;
    width: 100%;
  }
}
/* max-width: 803px .datos { flex-direction: column-reverse; text-align: center; } */
.datos .dato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 760px) {
  .datos .dato { width: 100%; }
}
.dato  #titulo {
  max-width: 600px;
  line-height: 75px;
  font-size: 72px;
  font-weight: 700;
  color: hsl(255, 11%, 22%);
}
@media screen and (max-width: 760px) {
  .datos #titulo { font-size: 34px; line-height: 40px; }
}
.datos #frase {
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 0;
  font-size: 21px;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
}
@media screen and (max-width: 760px) {
  .datos #frase { font-size: 17px; margin: 10px 25px 30px; }
}
#comenzar {
  padding: 10px 30px;
  width: fit-content;
  background-color: hsl(180, 66%, 49%);
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
}
#comenzar:hover { opacity: 0.6; }
.datos #comenzar { border: none; font-size: 14px; }
@media screen and (max-width: 760px) {
  .datos #comenzar { padding: 20px; width: 200px; margin: auto; }
}
.datos .image { width: 50%; position: relative; }
@media screen and (max-width: 803px) {
  .datos .image { width: 100%; }
}
#ilustracion { width: 100%; }
.buscador {
  display: flex;
  justify-content: center;
  width: 100%;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 89%;
  min-height: 150px;
  padding: 0 20px;
  margin: 0 auto 100px;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  background-color: hsl(257, 27%, 26%);
}
.buscador img {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
}
.mobile { display: none; }
@media screen and (max-width: 768px) {
  .mobile { display: block; }
}
.desktop { display: block; }
@media screen and (max-width: 768px) {
  .desktop { display: none; }
}
.buscador .escritura {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 30px 60px;
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 985px) {
  .buscador .escritura { padding: 30px 0; }
}
.buscador .ingreso {
  max-width: 80%;
  width: 84%;
  height: 50px;
  padding: 10px 15px;
  border: 0px;
  border-radius: 10px;
}
@media screen and (max-width: 985px) {
  .buscador .ingreso { margin-bottom: 10px; width: 100%; max-width: none; }
}
.shorten {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: hsl(180, 66%, 49%);
  color: #ffffff !important;
  cursor: pointer;
}
.shorten:hover { opacity: 0.6; }
.buscador .shorten {
  width: fit-content;
  height: 50px;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
}
@media screen and (max-width: 985px) {
  .buscador .shorten { margin: 10px 0 10px 0; width: 100%; }
}
.buscador .mensajeError {
  display: none;
  bottom: 25px;
  font-size: 15px;
  color: hsl(0, 87%, 67%);
  position: absolute;
}
.listaDiv { padding-top: 145px; position: relative; background-color: #eff1f7; }
.lista {
  margin: 0 auto 30px;
  max-width: 89%;
  background-color: #ffffff;
  border-radius: 10px;
  list-style: none;
}
.lista li {
  display: inline-flex;
  align-items: center;
  margin: 30px;
  width: 95%;
  font-size: 22px;
  font-weight: 500;
  color: hsl(255, 11%, 22%);
}
span { margin-left: auto; margin-right: inherit; color: hsl(180, 66%, 49%);}
.copy {
  width: 90px;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
  background-color: hsl(180, 66%, 49%);
  border-radius: 5px;
  border: none;
}
.copy:hover { opacity: 0.6; }
.estadisticas {
  max-width: 100%;
  width: 100%;
  padding: 0 20px 100px;
  background-color: #eff1f7;
  position: relative;
}
.advance {
  max-width: 585px;
  margin: 0 auto 200px;
  text-align: center;
}
.advance #tituloAd {
  margin-bottom: 10px;
  font-size: 41px;
  color: hsl(255, 11%, 22%);
}
.advance #fraseAd {
  font-weight: 500;
  font-size: 19px;
  color: hsl(0, 0%, 75%);
}
.tablas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 760px) {
  .tablas { justify-content: center; }
}
.tablas .tablaGene {
  max-width: 32%;
  padding: 80px 30px 40px;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}
@media screen and (max-width: 760px) {
  .tablas .tablaGene { min-width: 320px; width: 100%; text-align: center; }
}
/* max-width: 760px .tablas .tablaGene { min-width: 407px; width: 100%; } */
.tablas .tabla1 {
  bottom: 100px;
  position: relative;
}
.tablas .tabla1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 10px;
  right: -100px;
  top: 50%;
  background-color: hsl(180, 66%, 49%);
  z-index: 0;
}
@media screen and (max-width: 760px) {
  .tablas .tabla1::before {
    width: 10px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
}
/* max-width: 760px .tablas .tabla1::before { 
  width: 10px; height: 100px; 
  left: 196px; top: 90%;} */
.tablas .circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  top: -30px;
  left: 38px;
  border-radius: 40px;
  background-color: hsl(260, 8%, 14%);
  position: absolute;
  z-index: 20;
}
@media screen and (max-width: 760px) {
  .tablas .circulo { left: 50%; transform: translateX(-50%); }
}
/* max-width: 760px .tablas .circulo { left: 160px; } */
.tablas h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: hsl(255, 11%, 22%);
}
.tablas p { font-weight: 500; color: hsl(0, 0%, 75%); }
.tablas .tabla2 {
  bottom: 50px;
  position: relative;
}
.tablas .tabla2::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 10px;
  right: -100px;
  top: 50%;
  background-color: hsl(180, 66%, 49%);
  z-index: 0;
}
@media screen and (max-width: 760px) {
  .tablas .tabla2::before {
    width: 10px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
}
/* max-width: 760px .tablas .tabla2::before { 
  width: 10px; height: 100px; 
  left: 196px; top: 90%;} */
.comenzar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: hsl(257, 27%, 26%);
  position: relative;
  overflow: hidden;
}
.comenzar2 img {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}
.comenzar2 #titulo2 {
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 30px;
  color: #ffffff;
  z-index: 2;
}
.comenzar2 #comenzar {
  max-width: 100%;
  border: 0px;
  z-index: 2;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 70px;
  background-color: hsl(255, 11%, 22%);
}
@media screen and (max-width: 520px) {
  .footer { justify-content: center; text-align: center; padding: 70px 0; }
}
.footer .logoFinal img { filter: invert(1) brightness(100); }
@media screen and (max-width: 646px) {
  .footer .logoFinal { min-width: 120px; width: 100%; }
}
.footer .listasFooter {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  width: 100%;
  color: #ffffff;
}
@media screen and (max-width: 710px) {
  .footer .listasFooter {
    min-width: 375px;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
  }
}
@media screen and (max-width: 520px) {
  .footer .listasFooter ul {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
  }
}
/* .footer .listasFooter { min-width: 380px; } */
/* .footer .listasFooter ul { max-width: 550px flex-wrap; width: 100%} */
.footer li{
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 75%);
  list-style: none;
  cursor: pointer;
}
.footer li:hover { color: hsl(180, 66%, 49%); }
.footer #listaTitulo {
  margin-bottom: 25px;
  font-weight: 700;
  color: #ffffff;
}
.footer .redesSociales {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 12%;
  width: 100%;
  cursor: pointer;
}
.footer .redesSociales img:hover { color: hsl(180, 66%, 49%); }
@media screen and (max-width: 710px) {
  .footer .redesSociales { min-width: 155px; flex-wrap: wrap; }
}
/* max-width: 550px .footer .redesSociales { min-width: 112px } */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }